$component-prefix: 'fallback-page';

.#{$component-prefix} {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15%;
    gap: 34px;

    img {
        border: 2px solid gray;
        box-shadow: 0px 3px 5px grey;
    }
}