$component-prefix: 'home';

.#{$component-prefix} {
    text-align: center;
    padding: 5vh;

    &__text {
        padding: 1rem;
    }

    &__button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        padding: 1rem 21rem;
    }

}